<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Rooms</title>
</head>

<body>
    <div id="room-name">
        <p>{{ chooseChatRoom }}</p>
        <p>The following chat room has been chosen: <strong>{{ chosenChatRoom }}</strong></p>
        <input v-model = "chosenChatRoom" type="text" size="40" />
        <input id="room-name-submit" type="button" value="Enter" />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    <script>
        new Vue({
            el: '#room-name',
            data: { chooseChatRoom: 'What chat room would you like to enter?', chosenChatRoom: 'none' }
        });
    </script>
</body>

</html>