<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <!--<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    <div id="room-name">
        <form id="room-name_form" @submit="checkRoomName" method="POST">
            <div id="room-name_choose">
                <label for="roomName">What chat room would you like to enter?</label>
                <input v-model="roomName" type="text" size="40" name="roomName" required>

            </div>
            <div id="room-name_connect">
                <button type="submit">Enter</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="../../../../frontend/components/vueDirectives.js"></script>
    <script>
        new Vue({
            el: '#room-name',
            data: {
                roomName: null,
                snackbar: false,
                color: '',
                mode: '',
                timeout: 6000,
                text: 'dfdf'
            },
            methods: {
                checkRoomName(e) {
                    if (this.roomName) {
                        return true;
                    }
                    e.preventDefault();
                    //following chunks of code when we can check out roomName field
                }
            }
        });
    </script>
</body>

</html>